
.items-manager {
    display: block;
    margin: 2rem auto;
    width: 46rem;
}

.items-generator {
    display: flex;
    flex-direction: column;
}

.items-generator > * {
    margin-bottom: 0.2rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-bottom: 1px dashed #61dafb;
}
