cars {
    display: flex;
}

car {
    display: block;
    margin: 1rem;
    padding: 1rem 2rem 0.5rem 2rem;
    border: 1px solid #eaeaea;
    border-bottom: 1.5rem solid rgba(20, 20, 20, 0.85);
    box-shadow: 1px 2px 8px rgba(20, 20, 20, 0.85);
}

car[color="pink"] {
    border-bottom-color: rgba(255, 192, 203, 0.5);
}

car[color="black"] {
    border-bottom-color: rgba(20, 20, 20, 0.85);
}

car[color="red"] {
    border-bottom-color: rgba(250, 20, 20, 0.65);
}

model {
    font-weight: bold;
}

max-speed, weight {
    display: block;
    font-size: small;
    font-style: italic;
}

weight:before {
    content: "Weight: ";
}

max-speed:before {
    content: "Max speed: ";
}

max-speed:after, weight:after {
    margin-left: 0.5em;
    content: attr(unit);
}
