
body {
    padding: 0 20%;
    background-color: #eaeaea;
    color: #393939;
}

main {
    background-color: white;
    padding: 1rem;
    min-height: 60vh;
    border-radius: 3px;
    box-shadow: 0 0 9px 0 cadetblue;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

.todo-header {
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid cadetblue;
    display: flex;
}

.todo-header input {
    flex-grow: 1;
    margin: 0 0.5rem;
}

.todo-header label, .todo-header button {
    flex-grow: 0;
    flex-shrink: 0;
}


.todo-container {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.todo-column {
    width: 50%;
    padding: 0.5rem;
}

.todo-column.empty:after {
    content: "No active intems";
    color: #eaeaea;
    text-align: center;
    display: block;
    margin: 2rem auto;
}

.todo-column h2 {
    text-align: center;
}

.todo-column + .todo-column {
    border-left: 1px dashed cadetblue;
}

#TodoInput {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid cadetblue;
}

#TodoInput:active, #TodoInput:focus, button:active, button:focus {
    outline: 0;
}

button {
    background-color: white;
    border-radius: 2px;
    border: 1px solid cadetblue;
    cursor: pointer;
}

#DoneList .todo-action {
    display: none;
}

.todo-item {
    display: flex;
    padding: 0.5rem 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    align-items: center;
}

.todo-item .todo-content {
    flex-grow: 1;
    padding: 0.5rem;
}

.todo-item .todo-action {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.5rem;
}


.todo-action + .todo-action {
    margin-left: 0.5rem;
}

.todo-item.high {
    border: 1px solid rgb(255, 25, 60);
    background-color: rgba(255, 25, 60, 0.6);
}

.todo-item.medium {
    border: 1px solid rgb(255, 253, 34);
    background-color: rgba(255, 253, 34, 0.6);
}

.todo-item.low {
    border: 1px solid rgb(35, 183, 255);
    background-color: rgba(35, 183, 255, 0.6);
}
